[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-simple-history = "*"
pytest = "*"
pytest-cov = "*"
pytest-xdist = "*"
black = "*"
pytest-django = "*"

[dev-packages]

[requires]
python_version = "3.10"
