
<nav id="sidebar" >
        <h1><a href="{% url 'home' %}" class="logo"><span class="fa fa-object-group"></span><span id="side_title" class="pl-2">Grbz</span></a></h1>
        {% if user.is_authenticated %}
        <ul class="list-unstyled components mb-5">
            <li>
                <a href="#"><span class="fa fa-home"></span> Home</a>
            </li>
            <li>
                <a href="#"><span class="fa fa-user"></span> About</a>
            </li>
            <li>
                <a href="#"><span class="fa fa-sticky-note"></span> Blog</a>
            </li>
            <li>
                <a href="#"><span class="fa fa-cogs"></span> Services</a>
            </li>
            <li>
                <a href="#"><span class="fa fa-paper-plane"></span> Contacts</a>
            </li>
        </ul>
        {% endif %}
        <div class="footer">
            <p>
                <a href="https://github.com/tlsabara" target="_blank" style="color: lime">tlsabara</a> Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a style="color: lime" href="https://colorlib.com" target="_blank">Colorlib.com</a>
            </p>
            <p>
                Logado como: {{ user }}
                Contexto: {{ context }}
            </p>
        </div>
    </nav>