<nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">Toggle Menu</span>
                </button>
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                {% if user.is_authenticated %}
                <div class="ml-5 font-weight-bold">
                    <div class="dropdown">
                        <button type="button" class="btn btn-outline-primary" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,20">
                            Olá, <span class="font-weight-bold">{{ user.nome_completo_guser }}</span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                            <a class="dropdown-item" href="#">Perfil</a>
                            <a class="dropdown-item" href="#">Meus Assets</a>
                            <a class="dropdown-item disabled" href="#">Alterar senha</a>
                            <a class="dropdown-item text-danger" href="{% url 'logoff_view' %}">Logoff</a>
                        </div>
                    </div>
                </div>
                {%  endif %}

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    {% if user.is_authenticated %}
                        <ul class="nav navbar-nav ml-auto">
                            {% comment %}

                                    To pensando em fazer um menu dinamico.
                                    um Dict com a com o display_name, href??, class_menu, decored_class

                            {% endcomment %}

                            <li class="nav-item active">
                                <a class="nav-link" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                   <div class="dropdown">
                                        <div class="btn btn-outline-light" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,20">
                                            <span class="text-black-50">Assets</span>
                                        </div>
                                        <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="dropdownMenuOffset">
                                            <a class="dropdown-item" href="#">Assets Items</a>
                                            <a class="dropdown-item" href="#">Assets Class</a>
                                            <a class="dropdown-item" href="#">Assets Links</a>
                                            <a class="dropdown-item" href="#">Assets Types</a>
                                        </div>
                                    </div>
                            </li>
                            <li class="nav-item">
                                   <div class="dropdown">
                                        <div class="btn btn-outline-light" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,20">
                                            <span class="text-black-50">Usuário</span>
                                        </div>
                                        <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="dropdownMenuOffset">
                                            <a class="dropdown-item" href="#">Editar Usuário</a>
                                            <a class="dropdown-item" href="#">Novo Usuário</a>
                                            <a class="dropdown-item" href="#">Desabilitar Usuário</a>
                                            <a class="dropdown-item" href="#">Permissões de Usuários</a>
                                        </div>
                                    </div>
                            </li>
                            <li class="nav-item">
                                   <div class="dropdown">
                                        <div class="btn btn-outline-light" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,20">
                                            <span class="text-black-50">Colaboradores</span>
                                        </div>
                                        <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="dropdownMenuOffset">
                                            <a class="dropdown-item" href="#">Cadastro de Colaborador</a>
                                            <a class="dropdown-item" href="#">Editar Colaborador</a>
                                            <a class="dropdown-item" href="#">Cadastro de Empresa</a>
                                            <a class="dropdown-item" href="#"></a>
                                        </div>
                                    </div>
                            </li>
                            <li class="nav-item">
                                   <div class="dropdown">
                                        <div class="btn btn-outline-light" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,20">
                                            <span class="text-black-50">Acessos</span>
                                        </div>
                                        <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="dropdownMenuOffset">
                                            <a class="dropdown-item" href="#">Cadastro de Sistema</a>
                                            <a class="dropdown-item" href="#">Criar Acesso</a>
                                            <a class="dropdown-item" href="#">Editar Acesso</a>
                                            <a class="dropdown-item" href="#">Assets Types</a>
                                        </div>
                                    </div>
                            </li>
                            <li class="nav-item">
                                   <div class="dropdown">
                                        <div class="btn btn-outline-light" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,20">
                                            <span class="text-black-50">Relatórios</span>
                                        </div>
                                        <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="dropdownMenuOffset">
                                            <a class="dropdown-item" href="#">Relatórios de Assets</a>
                                            <a class="dropdown-item" href="#">Relatórios de Colaboradores</a>
                                            <a class="dropdown-item" href="#">Relatórios de Acessos</a>
                                        </div>
                                    </div>
                            </li>
                    {% else %}
                        <div class="nav navbar-nav ml-auto">
                            <strong>Sistema de gerenciamento de usuários e ativos.</strong>
                        </div>
                    {% endif %}

                    </ul>
                </div>
            </div>
        </nav>